@import "../../Common/StyleVariables.scss";

.selector-container {
    display: flex;
    flex-direction: row-reverse;

    .instrument-list {
        visibility: hidden;
        list-style: none;
        padding: $standard-padding

    }

    .is-open {
        visibility: visible;
    }

}