@import "../../Common/StyleVariables.scss";

$slider-size: $icon-size - $s2;

.slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 20rem;

  input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    border-radius: $square-border-radius;
    background: $dark-grey;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: $slider-size;
    width: $slider-size;
    background: $saphire;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    height: $slider-size;
    width: $slider-size;
    background: $saphire;
    cursor: pointer;
  }

  .value-readout {
    width: $s4;
  }
}
