@import "../../Common/StyleVariables.scss";

.slider {
    display: flex;
    align-items: center;
    text-transform: capitalize; 

    input[type=range] {
        -webkit-appearance: none;
        background: transparent;
        width: 100%;
        border-radius: 5px;
        background: $dark-grey;
        outline: none;
      }

      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        background: $saphire;
        cursor: pointer;
      }
      
      input[type=range]::-moz-range-thumb {
        height: 15px;
        width: 15px;
        background: $saphire;
        cursor: pointer;
      }

      .value-readout {
        margin-left: $standard-padding;
        width: 40px;
      }
}