@import "../../Common/StyleVariables.scss";

.bottom-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $standard-padding;

  .icon {
    fill: $saphire;
    padding: $standard-padding;
  }

  .slider {
    width: 100%;
    max-width: 50rem;
  }

  .hints {
    margin-top: $standard-padding;
  }

  @include mobile {
    .slider {
      display: flex;
      flex-direction: column;

      .value-readout {
        position: relative;
        right: 0;
      }
    }
  }
}
