@import "../../Common/StyleVariables.scss";

.bottom-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $standard-padding;

  .icon {
    fill: $saphire;
    padding: $standard-padding;
  }

  .hints {
    margin-top: $standard-padding;

    h3 {
      text-align: center;
    }

    ul {
      padding-left: $standard-padding;
    }
  }

  @include mobile {
    .value-readout {
      position: relative;
      right: 0;
    }
  }
}
