@import "../../Common/StyleVariables.scss";

.bottom-controls {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        fill: $saphire;
        padding: $standard-padding
    }

    .slider {
        width: 80%;
    }
}