@import "../../Common/StyleVariables.scss";

.editing-menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: $editing-menu-width;
    height: 100%;
    padding: $standard-padding;

    &.is-open {
        visibility: visible;
    }

    .instrument-list {
        list-style: none;
        padding: $standard-padding;

        li:hover {
            background-color: $current-beat-color;
        }
    }
}

.selector-container {
    display: flex;
    flex-direction: column;
    margin-right: $standard-padding;

    .selector-info {
        display: flex;
        align-items: center;
        width: 100%;
    }
}
