@import "../../Common/StyleVariables.scss";

$close-icon-size: 1.3rem;
$editing-menu-height: 20rem;

.editing-menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0;
  transition: all 0.5s;
  background-color: $grey;
  border-radius: $square-border-radius;

  &.is-open {
    height: $editing-menu-height;
  }

  .close {
    position: absolute;
    right: $s2;
    top: $s1;
    width: $close-icon-size;
    height: $close-icon-size;
    cursor: pointer;
  }

  .selector-group {
    margin: $s2;
  }
}

.selector-container {
  display: flex;
  flex-direction: column;
  margin-right: $standard-padding;

  .selector-info {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
