@import "../../Common/StyleVariables.scss";

.control-button {
  background: transparent;
  border: none;
  box-shadow: 0 0 2px $grid-border-color inset;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
}
