@import "../../Common/StyleVariables.scss";

.grid {
    display: flex;
    flex-direction: column;

    .side-controls {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}