@import "../../Common/StyleVariables.scss";

.selector {
  margin-bottom: $light-padding;

  select {
    border: none;
    background: transparent;
    font-size: 100%;
    color: $saphire;
    font-weight: $fw-semibold;
  }
}
