@use "../../Common/StyleVariables.scss" as *;

$close-icon-size: $s4;

.editing-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  background-color: $bg-sheet;
  border-radius: $sheet-border-radius $sheet-border-radius 0 0;
  padding: $s4 $s8 $s8;
  z-index: $editor-z;

  &.is-open {
    transform: translateY(0);
  }

  .close {
    position: absolute;
    right: $s4;
    top: $s4;
    width: $close-icon-size;
    height: $close-icon-size;
    cursor: pointer;
    fill: $text-muted;

    &:hover {
      fill: $text-primary;
    }
  }

  .selector-group {
    display: flex;
    margin: $s2;

    h3 {
      margin-bottom: $s2;
      color: $text-secondary;
      font-size: $s3;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    .row-actions {
      margin: 0 $s4;

      .shift {
        display: flex;
        font-size: 100%;
        padding: 0;
        margin-bottom: $s2;
        color: $text-secondary;
        cursor: pointer;

        .icon {
          margin-left: $s2;
          height: $s4;
          width: $s4;
          fill: $text-primary;
        }
      }
    }
  }

  @include mobile {
    padding: $s2 $s4 $s4;
    font-size: small;
  }
}
