@import "../../Common/StyleVariables.scss";

.sequencer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sequencer {
    display: flex;
    justify-content: center;
  }
}
