@import "../../Common/StyleVariables.scss";

.start-audio-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: $start-overlay-z;

  .start-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    button {
      padding: $standard-padding;
      color: $sky-blue;
      border-radius: $square-border-radius;
      border: 2px solid $sky-blue;
      font-size: 26px;
    }
  }
}
