@import "../Common/StyleVariables.scss";

.start-audio-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;

    .start-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        button {
            padding: $standard-padding;
            background-color: $current-beat-color;
            font-size: 26px;
        }
    }
}