@import "../../Common/StyleVariables.scss";

.selector-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $square-size;

    .icon {
        padding: $standard-padding;
    }
}