@import "../../Common/StyleVariables.scss";

.selector-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $square-size;
  height: $square-size;

  .inst-name {
    margin-right: $standard-padding;
  }

  .icon {
    &.active {
      fill: $orange;
    }
  }

  @include mobile {
    height: $square-size-mobile;
  }
}
