@import "../../Common/StyleVariables.scss";

$square-size-mobile-width: calc($square-size-mobile / 2);

.selector-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $square-size;
  height: $square-size;

  .inst-name {
    margin-right: $standard-padding;
  }

  .icon {
    &.active {
      fill: $orange;
    }
  }

  @include mobile {
    height: $square-size-mobile;
    width: $square-size-mobile-width;

    .icon {
      height: $square-size-mobile-width;
    }

    .inst-name {
      display: none;
    }
  }
}
