@import "../../Common/StyleVariables.scss";

.top-menu {
  display: flex;
  width: 100%;
  border-bottom: $border-width solid $darker-grey;
  margin-bottom: $s8;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    fill: $saphire;
    cursor: pointer;
  }

  .controls {
    padding: $s2;
    border-right: $border-width solid $darker-grey;

    .icon {
      margin: 0 $s2;
    }
  }

  .slider-container {
    padding: $s2 $s4;
    width: 100%;
  }

  .help {
    border-left: $border-width solid $darker-grey;
    padding: $s2 $s4;

    .icon {
      fill: $saphire;
      height: $s4 + $s1;
      width: $s4 + $s1;
    }
  }

  @include mobile {
    .icon {
      height: $icon-size - $s2;
      width: $icon-size - $s2;
    }

    .slider {
      input[type="range"]::-webkit-slider-thumb {
        height: $slider-size - $s2;
        width: $slider-size - $s2;
      }

      input[type="range"]::-moz-range-thumb {
        height: $slider-size - $s2;
        width: $slider-size - $s2;
      }
    }
  }
}
