@use "../../Common/StyleVariables.scss" as *;

.beat-square {
  height: $s1;
  border-radius: $s1;
  background: $border-dark;
  transition: background 0.1s;

  &.active {
    background: var(--rc);
  }
}
