@import "../../Common/StyleVariables.scss";

.beat-square {
  width: $square-size;
  height: $s1;

  &.active {
    background-color: $saphire;
  }

  @include mobile {
    width: $square-size-mobile;
  }
}
