@import "../../Common/StyleVariables.scss" ;

.square {
  width: $square-size;
  height: $square-size;
  border-radius: $square-border-radius;
  box-shadow: $square-box-shadow;

  &.active {
    background-color: $active-color;
  }
  
  &.playing {
    border-bottom-color: $current-beat-color;
  }
}


