@import "./Common/StyleVariables.scss";

body{
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
}

button {
  background: transparent;
  border: none;
  box-shadow: 0 0 2px $grid-border-color inset;
  cursor: pointer;
}
