@import "./Common/StyleVariables.scss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  h1, h2, h3, div, p, a {
    margin: 0;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}
