@import "./Common/StyleVariables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  background-color: $bg-primary;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  div,
  p,
  a {
    margin: 0;
  }
}
