$active-color: rgb(218, 244, 253);
$current-beat-color: rgb(139, 253, 124);
$grid-border-color: coral;

$square-padding: 50px;
$standard-padding: 15px;

$bottom-beat-tracker-padding: 10px;

$standard-icon-size: 30px;
