$grey: #eeeeee;
$dark-grey: #d3d3d3;
$darker-grey: #636363;
$sky-blue: #59cece;
$saphire: #19647e;
$orange: #f3b61f;
$ivory: #f4f4f3;

$active-color: $orange;
$split-color: $sky-blue;
$current-beat-color: $orange;
$grid-border-color: $saphire;

$square-size: 100px;
$square-size-mobile: 30px;
$square-border-radius: 5px;
$square-box-shadow: 0 0 2px $grid-border-color inset;
$light-padding: 5px;
$standard-padding: 15px;

$border-width: 0.1rem;

// sizes

$s1: 0.3rem;
$s2: $s1 * 2;
$s3: $s2 + $s1;
$s4: $s2 * 2;

$bottom-beat-tracker-padding: 10px;

$icon-size: $s4;

$min-size-desktop: 600px;

// z indexes
$editor-z: 98;
$start-overlay-z: 99;

@mixin mobile {
  @media only screen and (max-width: ($min-size-desktop)) {
    @content;
  }
}
