$grey: #EEEEEE;
$green: #59cece;
$saphire: #19647E;
$orange: #F3B61F;
$hot-green:#27FB6B;
$ivory: #f4f4f3;

$active-color: $hot-green;
$current-beat-color: $orange;
$grid-border-color: $saphire;

$square-size: 100px;
$square-border-radius: 5px;
$square-box-shadow: 0 0 2px $grid-border-color inset;
$standard-padding: 15px;
$editing-menu-width: 300px;

$bottom-beat-tracker-padding: 10px;

$standard-icon-size: 30px;
